// FONT FAMILY CDN
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@import "_variable.scss";

body {
  font-family: "Rubik", system-ui;
}

html {
  scroll-behavior: smooth;
}
// SECTION MARGIN
.hero, .feature, .download, .faq {
  margin: $section-margin;
}

// RE-USEABLE BLOCK
.container {
  margin: 0 auto;
  width: 85%;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.grid {
  display: grid;
}

.text-center {
  text-align: center;
}

// TEXT AND LINKS COLOR
h1 {
  font-size: 45px;
  color: $heading-clr;
}

h2 {
  font-size: 22px;
  color: $heading-clr;
}

p {
  color: $text-clr;
}

@mixin button {
  display: inline-block;
  padding: 15px 40px;
  font-weight: 500;
  color: #fff;
  background-color: $primary-clr;
  border-radius: 5px;
  border: none;

  &:hover {
    outline: 2px solid;
  }
}

.header-button a {
  @include button;
  color: #fff;
  background-color: $accent-clr;

  &:hover {
    color: $accent-clr;
    background-color: #fff;
  }
}

.button {
  @include button;

  &:hover {
    color: $primary-clr;
    background-color: #fff;
  }
}

a {
  color: $heading-clr;
}

i {
  color: $primary-clr;
}

a,
i {
  &:hover {
    color: $accent-clr;
    cursor: pointer;
  }
}

// COMMON SECTION TITLE
.section-title {
  padding: 20px 0;

  &__text p {
    margin: 15px auto 0;
    max-width: 46ch;
    line-height: 23px;
  }
}

// EXTRA STYLING

::selection {
  color: #fff;
  background-color: $accent-clr;
}

// (Chrome, Safari, Edge) 
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: $accent-clr;
  border-radius: 5px;
}
// (Firefox)  
* {
  scrollbar-width: 10px;
  scrollbar-color: $accent-clr transparent;
}
