<<<<<<< HEAD
// PADDING
$section-margin: 50px 0;

// CCOLOR
$primary-clr : #5368df;
$heading-clr : #252b46;
$text-clr : #9194a1;
=======
// PADDING
$section-margin: 50px 0;

// CCOLOR
$primary-clr : #5368df;
$heading-clr : #252b46;
$text-clr : #9194a1;
>>>>>>> c4f53ac00b62020d184168dedb746af07ee5fbde
$accent-clr : #fa5757;