@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

body {
  font-family: "Rubik", system-ui;
}

html {
  scroll-behavior: smooth;
}

.hero, .feature, .download, .faq {
  margin: 50px 0;
}

.container {
  margin: 0 auto;
  width: 85%;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.grid {
  display: grid;
}

.text-center {
  text-align: center;
}

h1 {
  font-size: 45px;
  color: #252b46;
}

h2 {
  font-size: 22px;
  color: #252b46;
}

p {
  color: #9194a1;
}

.header-button a {
  display: inline-block;
  padding: 15px 40px;
  font-weight: 500;
  color: #fff;
  background-color: #5368df;
  border-radius: 5px;
  border: none;
  color: #fff;
  background-color: #fa5757;
}
.header-button a:hover {
  outline: 2px solid;
}
.header-button a:hover {
  color: #fa5757;
  background-color: #fff;
}

.button {
  display: inline-block;
  padding: 15px 40px;
  font-weight: 500;
  color: #fff;
  background-color: #5368df;
  border-radius: 5px;
  border: none;
}
.button:hover {
  outline: 2px solid;
}
.button:hover {
  color: #5368df;
  background-color: #fff;
}

a {
  color: #252b46;
}

i {
  color: #5368df;
}

a:hover,
i:hover {
  color: #fa5757;
  cursor: pointer;
}

.section-title {
  padding: 20px 0;
}
.section-title__text p {
  margin: 15px auto 0;
  max-width: 46ch;
  line-height: 23px;
}

::-moz-selection {
  color: #fff;
  background-color: #fa5757;
}

::selection {
  color: #fff;
  background-color: #fa5757;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #fa5757;
  border-radius: 5px;
}

* {
  scrollbar-width: 10px;
  scrollbar-color: #fa5757 transparent;
}

.header {
  padding: 30px 0;
}
.header.active {
  background: rgba(37, 43, 70, 0.914);
  backdrop-filter: blur(3.6px);
  -webkit-backdrop-filter: blur(7.6px);
}
.header.active .header__logo span,
.header.active .header__toggler i {
  color: #fff;
}
.header.active .header__logo .circle {
  color: #fff;
}
.header.active .header__logo .bookmark {
  color: rgba(37, 43, 70, 0.9137254902);
}
.header__container {
  justify-content: space-between;
}
.header__logo span {
  margin-left: -10px;
  font-weight: 500;
  font-size: 20px;
}
.header__logo .bookmark {
  position: relative;
  right: 26px;
  font-size: 14px;
  color: #fff;
}
.header__logo:hover .circle {
  color: #5368df;
}
.header__logo:hover .bookmark {
  color: #fff;
}
.header__logo:hover span {
  color: #252b46;
}
.header__menu {
  gap: 50px;
}
.header__menu ul {
  gap: 50px;
}
.header__toggler {
  display: none;
}

.hamburger-menu {
  display: none;
  position: fixed;
  bottom: 100%;
  width: 100%;
  height: 86.4vh;
  background: rgba(37, 43, 70, 0.914);
  backdrop-filter: blur(3.6px);
  -webkit-backdrop-filter: blur(7.6px);
  transition: 0.53s;
}
.hamburger-menu.active {
  bottom: 0;
}
.hamburger-menu__container {
  flex-direction: column;
  align-items: center;
}
.hamburger-menu__menu {
  width: 100%;
  padding: 20px 0;
}
.hamburger-menu__menu li {
  padding: 25px 0;
}
.hamburger-menu__menu li:not(:nth-child(even)) {
  border-top: 1px solid #9194a1;
  border-bottom: 1px solid #9194a1;
}
.hamburger-menu__menu li a {
  font-weight: 500;
  color: #fff;
}
.hamburger-menu__menu li a:hover {
  color: #fa5757;
}
.hamburger-menu__button {
  margin: 10px 0 140px;
  width: 100%;
}
.hamburger-menu__button a {
  width: 75%;
  background-color: transparent;
  outline: 3px solid #fff;
}
.hamburger-menu__button a:hover {
  color: #fa5757;
  background-color: transparent;
  outline: 3px solid #fa5757;
}
.hamburger-menu__social-media i {
  color: #fff;
}
.hamburger-menu__social-media i:hover {
  color: #fa5757;
}
.hamburger-menu__social-media i:not(:last-child) {
  margin-right: 30px;
}

.hero {
  background-image: url(../image/hero/hero-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 48%;
}
.hero__content {
  flex-direction: column;
  gap: 30px;
  padding: 100px 0;
}
.hero__content-title h2 {
  font-size: 50px;
  font-weight: 500;
  max-width: 20ch;
}
.hero__content-text p {
  max-width: 45ch;
  line-height: 24px;
}
.hero__content-buttons {
  gap: 15px;
}
.hero__content-buttons--secondary {
  color: #606060;
  background-color: #f7f7f7;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.hero__content-buttons--secondary:hover {
  color: #515151;
  outline: 2px solid #606060;
}

.feature {
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 50%;
  height: 90vh;
}
.feature__tabs-button {
  justify-content: center;
}
.feature__tabs-button button {
  padding: 20px 30px;
  font-size: 16px;
  color: #252b46;
  box-shadow: 0 2px 0 0 rgba(211, 211, 211, 0.4470588235);
}
.feature__tabs-button button:hover, .feature__tabs-button button.active {
  box-shadow: 0 2px 0 0 #fa5757;
}
.feature__tab {
  display: none;
  align-items: center;
  gap: 100px;
  margin-top: 70px;
}
.feature__tab.active {
  display: flex;
}
.feature__tab > * {
  width: 50%;
}
.feature__tab-image {
  height: 400px;
}
.feature__tab-contents p {
  margin: 20px 0 30px;
  max-width: 45ch;
  line-height: 24px;
}
.feature__tab-contents .button:hover a {
  color: #5368df;
}
.feature__tab-contents a:hover {
  color: invert;
}

.download__container {
  justify-content: space-between;
  width: 70%;
}
.download__container :nth-child(2n) {
  margin-top: 20px;
}
.download__container :nth-child(3) {
  margin-top: 40px;
}
.download__box {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 30px;
  width: 31%;
  height: 320px;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 7px 8px;
}
.download__title {
  margin: 20px 0 5px;
}
.download__bg {
  margin: 30px 0 20px;
}

.faq__container {
  padding: 10px 0 0;
  width: 32%;
}
.faq__question:hover button {
  color: #fa5757;
}
.faq__question button {
  display: inline-block;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  font-size: 16px;
  font-weight: 600;
  color: #252b46;
  width: 100%;
  border-top: 1px solid rgba(211, 211, 211, 0.7529411765);
  border-bottom: 1px solid rgba(211, 211, 211, 0.7529411765);
}
.faq__question button .active,
.faq__question button .accordion:hover {
  background-color: #ccc;
}
.faq__question button i {
  transition: transform 0.3s ease, color 0.63s ease;
  transform: rotate(0deg);
  color: #5368df;
}
.faq__question button.active {
  color: #252b46;
}
.faq__question button.active i {
  transform: rotate(180deg);
  color: #fa5757;
}
.faq__answer p {
  line-height: 30px;
}
.faq .panel {
  display: none;
  background-color: white;
  overflow: hidden;
}
.faq__button {
  margin: 50px 0;
}

.contact {
  border: 1px solid;
  padding: 40px 0;
  background-color: #5368df;
  color: #ffffff;
}
.contact__container {
  flex-direction: column;
  gap: 20px;
}
.contact__mini-heading h6 {
  letter-spacing: 5px;
  font-weight: 400;
}
.contact__heading h2 {
  margin: 0 auto;
  max-width: 20ch;
  color: #fff;
}
.contact__form input {
  padding: 15px 100px 15px 10px;
  background-color: #ffffff;
  color: #707070;
  border: none;
  border-radius: 5px;
  outline: none;
}
.contact button {
  display: inline-block;
  padding: 15px 30px;
  font-weight: 500;
  border-radius: 5px;
  border: none;
  color: #fff;
  background-color: #fa5757;
}
.contact button:hover {
  color: #fa5757;
  background-color: #fff;
  outline: 2px solid #fa5757;
}
.contact .error-message {
  display: none;
  margin-left: 39px;
  padding: 5px;
  font-size: 12px;
  width: 55%;
  border-radius: 5px;
  color: #fff;
  background-color: #fa5757;
  text-align: justify;
}
.contact input:invalid + .error-message {
  display: block;
}

.footer {
  padding: 30px 0;
  color: #fff;
  background-color: #242946;
}
.footer__container {
  justify-content: space-between;
}
.footer__link {
  gap: 50px;
}
.footer__link .logo {
  color: #fff;
}
.footer__link .logo:hover {
  color: #fff;
}
.footer__menu {
  gap: 50px;
}
.footer__menu a {
  color: #fff;
  gap: 50px;
}
.footer__menu a:hover {
  color: #fa5757;
}
.footer__social i {
  color: #fff;
}
.footer__social i:hover {
  color: #fa5757;
}
.footer__social i:not(:last-child) {
  margin-right: 30px;
}/*# sourceMappingURL=style.css.map */